@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@theme{
  --color-rick-and-morty: #5CAD4A;
}

body {
  font-family: "Michroma", sans-serif;
}

.cols{
  @apply xl:col-span-3 md:col-span-6 col-span-12 mb-5 lg:px-5 md:px-3;
}